@model WebConsultarDerechosAutor.Models.Foto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Buscar foto</h2>



        <div>
            @Html.ActionLink("Back to List", "Validacion")
        </div>
        
        
    </div>
</body>
</html>