/AgregarFoto/NegocioTVF/NegocioAgregarFoto/NegocioAgregarFoto-ejb/nbproject/private/
/AgregarFoto/NegocioTVF/NegocioAgregarFoto/NegocioAgregarFoto-war/nbproject/private/
/AgregarFoto/NegocioTVF/NegocioAgregarFoto/nbproject/private/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/build/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/dist/
/ComprarFoto/NegocioComprarFoto/NegocioComprarFoto/nbproject/private/
/ComprarFoto/WebApplication1/build/
/ComprarFoto/WebApplication1/dist/
/ComprarFoto/WebApplication1/nbproject/private/
/ComprarFoto/NegocioComprarFoto/build/
/ComprarFoto/NegocioComprarFoto/dist/
/ComprarFoto/NegocioComprarFoto/nbproject/private/
/ComprarFoto/WebComprarFoto/build/
/ComprarFoto/NegocioIF/build/
/AgregarFoto/Web/WebAgregarFoto/dist/
/ComprarFoto/WebComprarFoto/dist/
/AgregarFoto/Web/WebAgregarFoto/build/
/ComprarFoto/WebComprarFoto/nbproject/private/
/AgregarFoto/Web/WebAgregarFoto/nbproject/private/
/ComprarFoto/NegocioIF/nbproject/private/
/ComprarFoto/NegocioIF/dist/